*{
	border-sizing: border-box;
}
.notas{
	margin-top: 30px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;

}
.trimestre{
	width: 100%;
	
}
.trimestre h3{
	text-align: right;
	margin-bottom: 0;
	padding: 8px;
	
}
.trimestre table{
	width: 100%;
	text-align: center;
	border-radius: 4px;
	border: 0.5 solid;
	color: rgba(255, 255, 255, 0.99);

}
.trimestre table thead{
	background: rgba(0, 51, 102, 1.0);
	margin: 0;
	padding: 0;
}
.trimestre table th{
	padding: 14px 0 14px 0;
	border:  none;
	margin: 0;
}
.trimestre table tbody{
	background: #666;
}
.trimestre table td{
	padding: 8px 0 8px 0;
	border: none;
}
.trimestre table tbody tr:hover{
     transform: scale(1.10);
     transition: 2s linear;
     font-weight: bold;
}

/* LARGE DEVICES */
@media screen and (min-width: 1024px){
	.notas{
		padding: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
	.trimestre{
		margin: 0 5px;
	}
	.trimestre table{
		width: 99%;
	}
}